.submit-btn {
    background-color: #b1dbff;
    margin: 10px 0 10px 0;
}

.odd {
    background-color: #f2f9ff;

}
.even {
    background-color: #ffffff;
}

.one {
    background-color: #f9fff2;

}

.form-auth {
    max-width: 330px;
    padding: 5px;
    margin: 0 auto;
}

/****************************************************
* Default
****************************************************/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    font-family: 'Lato', sans-serif;
}

.v-center {
    top: 40%;
    left: 0%;
    position: relative;
    transform: translate(-0%, -50%);
}

.jumbotron {
    margin: 0;
    background-color: #f8f8f8;
}

.main-content {
    margin: 48px 0;
    padding: 16px 0;
}


/****************************************************
* Navbar
****************************************************/

.navbar {
    background: #337ab7;
    border: none;
    box-shadow: 0 1px 6px #000000;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: none;
}

.navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-right {
    padding-right: 15px;
}

.navbar-right > li {
    margin: 0 6px;
}

.btn {
    text-transform: uppercase;
}

/****************************************************
* Contents
****************************************************/

.page-header {
    margin: 10px 0 20px;
}

.page-header h3 {
    font-weight: bold;
}

.post-title {
    text-transform: uppercase;
}

/****************************************************
* Media
****************************************************/

@media (max-width: 767px) {

    .navbar-right {
        padding-right: 0;
    }

    .navbar-right li p a {
        width: 100%;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        display: none;
    }
    
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .img-default {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
    }

    .res-block {
        margin-top: 6px;
        display: block;
    }

}