<div class="page-header">
    <h3>Postings <small class="res-block">Find your roommate 
        <span ng-show="authenticated">or 
            <a role="button" data-toggle="collapse" data-target="#newpost" aria-expanded="false" aria-controls="newpost">
                Create a new post
            </a>
        </span>
        </small>
    </h3>
</div>
<div class="collapse" id="newpost">
    <div class="well">
        <h4>Create a new post</h4>
        <br>
        <div class="row">
            <div class="col-md-12">
                <form ng-Submit="post()">
                    <div class="form-group">
                        <input required class="form-control" maxlength="20" rows="1" placeholder="Location (Address)" ng-model="newPost.location">
                    </div>
                    <div class="form-group">
                        <textarea required class="form-control" maxlength="20" rows="1" placeholder="Time to Commute(Min)" ng-model="newPost.tcommute"></textarea> 
                    </div>
                    <div class="form-group">
                        <textarea required class="form-control" maxlength="20" rows="1" placeholder="Number of Rooms" ng-model="newPost.nroom"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea required class="form-control" maxlength="20" rows="3" placeholder="Number of Bathrooms" ng-model="newPost.nbathroom"></textarea> 
                    </div>
                    <div class="form-group">
                        <textarea required class="form-control" maxlength="20" rows="1" placeholder="Price per Month($)" ng-model="newPost.price"></textarea> 
                    </div>
                    <div class="form-group">   
                        <textarea required class="form-control" maxlength="200" rows="3" placeholder="Room Description" ng-model="newPost.description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary text-right pull-right" data-toggle="collapse" data-target="#newpost">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="post-stream">
    <div class="form-group"> 
        <input type="text" ng-model="search_loc" placeholder="Street Name">
        <input type="text" ng-model="search_tcommute" placeholder="Commute Time (min)">
        <input type="text" ng-model="search_price" placeholder="Price ($)">
    </div>

    <div class="list-group-item" ng-repeat="post in posts | orderBy:'created_at':true | filter:{location: search_loc, tcommute: search_tcommute, price: search_price}" ng-class-odd="'odd'" ng-class-even="'even'" data-toggle="collapse" data-targe="#newcomment">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <p class="post-title"><strong>{{post.location}}</strong>&nbsp;<span class="label label-default">{{post.tcommute}} min</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <p><strong>$ {{post.price}}</strong> / month</p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>{{post.nroom}}</strong> rooms</p>
                    </div>
                    <div class="col-md-2">
                        <p><strong>{{post.nbathroom}}</strong> bath</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{post.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <small>Posted by <a href="{{window}}" ng-click="open(window)">{{post.created_by}}</a> on {{post.created_at | date:"MMM d, y"}} <span class="pull-right"><a role="button" data-toggle="collapse" data-target="#newcomment-{{$index}}" aria-expanded="false" aria-controls="newcomment" ng-show="authenticated">Comment</a></span></small>
            </div>
        </div>
        <div class="row collapse" id="newcomment-{{$index}}">
            <br>
            <div class="col-md-12">
                <form>
                    <div class="form-group">   
                        <textarea required class="form-control" maxlength="100" rows="2" placeholder="Comment" ng-model="post.comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-xs btn-primary text-right pull-right">Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>


