<div class="clearfix">
    <form ng-Submit="post()" ng-show="authenticated">
        <h4>New Room Ad:</h4>
        <textarea required class="form-control" maxlength="20" rows="1" placeholder="Location (Address)" ng-model="newPost.location"></textarea> 
        <textarea required class="form-control" maxlength="20" rows="1" placeholder="Time to Commute(Min)" ng-model="newPost.tcommute"></textarea> 
        <textarea required class="form-control" maxlength="20" rows="1" placeholder="Number of Rooms" ng-model="newPost.nroom"></textarea>
        <textarea required class="form-control" maxlength="20" rows="3" placeholder="Number of Bathrooms" ng-model="newPost.nbathroom"></textarea> 
        <textarea required class="form-control" maxlength="20" rows="1" placeholder="Price per Month($)" ng-model="newPost.price"></textarea>    
        <textarea required class="form-control" maxlength="200" rows="3" placeholder="Room Description" ng-model="newPost.description"></textarea>
        <input class="btn submit-btn pull-right" type="submit" value="Room Posting" />
    </form>
</div>
<div class="page-header">
    <h3>Postings <small>Find your roommate!</small></h3>
</div>
<div id="post-stream">
    <a class="list-group-item" href ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
        <div class="row">
            <div class="col-md-3">
                <div class="span4"></div>
                <img src={{post.img}} alt="Responsive image" class="img-rounded img-default text-center"/>
                <div class="span4"></div>
            </div>
            <div class="col-md-9">
                <h3 class="list-group-item-heading">{{post.location}} <small>{{post.tcommute}}</small></h3><br>
                <ul class="list-unstyled">
                    <li><strong>$ {{post.price}}</strong> / month</li>
                    <li><strong>{{post.nroom}}</strong> rooms</li>
                    <li><strong>{{post.nbathroom}}</strong> bathrooms</li>
                </ul>
                <p class="list-group-item-text">{{post.description}}</p><br>
                <small>Posted by @{{post.created_by}}</small>
                <small class="pull-right">{{post.created_at | date:"h:mm a 'on' MMM d, y"}}</small>
            </div>
        </div>
    </a>
</div>


