<!-- <form class="form-auth" ng-submit="login()">
	<h2>Log In</h2>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
	<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
	<input type="submit" value="Log in" class="btn btn-primary" />
</form> -->

<div class="container">
    <div class="main-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-form">
                    <h2 class="text-center">Welcome to UniRES</h2>
                    <h5 class="text-center">A Home for Every Student</h5>
                    <br>
                    <div class="panel panel-default">
                        <form class="form-auth" ng-submit="login()">
                        	<p class="text-warning">{{error_message}}</p>
                            <div class="form-group">    
                                <label for="email">Email</label>
                                <input type="email" ng-model="user.email" placeholder="Email Address" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password</label>
                                <input type="password" ng-model="user.password" placeholder="Password" class="form-control">
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox">Remember Me</label>
                            </div>
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
                <div class="well text-center">
                    <a id="signup_button" href="join.html">Create a new account</a>
                </div>
            </div>
        </div>
    </div>
</div>